h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

header {
    margin-left: 1dvw;
    margin-right: 1dvw;
}

nav {
    display: flex;
    gap: 2dvw;
}

main {
    margin-left: 20dvw;
    margin-right: 20dvw;
    margin-top: 10dvh;
}

a, a:hover, a:visited {
    color: blue;
    text-decoration: none;
}
